<%- include('layouts/header') %>

<main class="container">
    <h1> All Products</h1>
    <div class="d-flex justify-content-evenly flex-wrap">
        <% for(let i=0; i < 6; i++) { %>
        <%- include('product_card') %>
        <% }%>
    </div>
</main>

<%- include('layouts/footer') %>
